div.track-sublabel {
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    border-collapse: collapse;
    border: 1px solid #999;
    color: #111;
    font-weight: bold;
}


.colorsquare {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}
