
div.track-sublabel {
    z-index: 10;
    padding: 1px 6px;
    overflow: hidden;
    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    border-color: #999;


    color: #111;
    font-weight: bold;
}

.squarecolor {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}
